{% extends "network/layout.html" %}
{% load static %}

{% block styleCss %}
    <link href="{% static 'network/css/allposts.css' %}/" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block body %}

  <h2 id="userID" data-user="{{ user.id }}">{{ user.username }} Following Posts</h1>
    <div class="container">
      <div class="row" id="postsPage">
          <!-- This is where posts is posted. -->
      </div>
    </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-3" id="page-number">
      <!-- This is where our pagination buttons will come through JavaScript -->
    </ul>
  </nav>
{% endblock %}

{% block script %}
  <script type="module" src="{% static 'network/js/followingPosts.js' %}/"></script>
{% endblock %}