{% extends "network/layout.html" %}
{% load static %}

{% block styleCss %}
    <link href="{% static 'network/css/allposts.css' %}/" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}


{% block body %}
  <h2>All Posts</h1>
    <div class="container">
      <div class="row">
          <div class="col-md-8">
              {% if user.is_authenticated %}
                  <form action="{% url 'newPost' %}" method="POST">
                    {% csrf_token %}
                    <div class="post-editor">
                        <textarea name="post-field" id="post-field" class="post-field" placeholder="Write Something Cool!"></textarea>
                        <div class="d-flex">
                            <button type="submit" class="btn btn-success px-4 py-1">Post</button>
                        </div>
                    </div>
                </form>
              {% endif %}
          </div>
      </div>
    </div>
    <div class="container">
      <div class="row" id="postsPage" data-user="{{ user.username }}">
          <!-- This is where posts is posted. -->
      </div>
    </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pt-3" id="page-number">
      <!-- This is where our pagination buttons will come through JavaScript -->
    </ul>
  </nav>
{% endblock %}


{% block script %}
    <script src="{% static 'network/js/main.js' %}/"></script> 
{% endblock %}